body {
    font-family: 'Poppins', sans-serif;
    background-color: #EAE0D5; /* color claro basado en la imagen */
    color: #4A4138; /* color oscuro basado en la imagen */
}

.header{
    background-color: #104b53;
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.header .logo {
    cursor: pointer;
}
  
.header .logo img{
    height: 100px;
    width: auto;
    transition: all 0.3s;
} 

.header .nav-list{
    list-style: none;
}

.header .nav-list li{
    display: inline-block;
    padding: 0% 5px;
}

.header .nav-list li:hover{
    transform: scale(1.1);
} 

.header .nav-list a{
    font-size: 700;
    color: #F5F1E8;
    text-decoration: none;
}
.header .nav-list a:hover{
    color:#d99b5e;
}

.list-group-item {
    padding-top: 1%;
    border: 1px solid #B6A89E; /* color de borde basado en la imagen */
    background-color: #F5F1E8; /* color de fondo para los elementos de la lista */
}

/* Agregando estilos para el contenedor del mapa */
.map-container {
    border: 1px solid #B6A89E;
    padding: 10px;
    background-color: #F5F1E8;
    transform: translate(50%, -50%);
    padding: 10px;
}
/*Agregando estilos a ala barra de busqueda*/

.contenedor{
    position: relative;
    left: 48%;
    top: 45%; 

}

input{
    outline: none;
    box-sizing: border-box;
    height: 60px;
    width: 0;
    padding: 0 20px;
    border-radius: 50px;
    font-size: 20px;
    border: 1px solid #104b53;
    transition: all .7s ease;
}

::placeholder{
    color: #B6A89E;
}

.btn{
    position: relative;
    right: 0;
    top: 0;
    width: 80px;
    height: 80px;
    background: #104b53;
    line-height:80px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    transition: .5s;
}

.btn i{
    font-size: 25px;
    color: aliceblue;
    line-height: 80px;
    transition: all .7 ease;
}

.contenedor:hover input{
    width: 350px;
} 

.contenedor:hover i{
    transform: rotate(-360deg);
}
.btn:hover {
    background: #104b53;
}

.hidden {
    display: none;
}

